
project_id = "otrhbyzjrhsqrltdedon"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322

[studio]
port = 54323

[inbucket]
port = 54324

[auth]
enabled = true
site_url = "http://localhost:3000"

[storage]
enabled = true

[realtime]
enabled = true

[functions]
[functions.chat-ai]
[functions.delete-user]
[functions.handle_new_user]
[functions.summarize-chat]
verify_jwt = false
